$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$blurblack:  #111111;
$containersonidlebgcolor: #e2e4e1;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#kycore {
position:relative;
background-color:black;
height:100vh;
width:100vw;
overflow-x:hidden;
overflow-y:scroll;
}
#kycore::-webkit-scrollbar {
display: none;
}
#kycore {
-ms-overflow-style: none; 
scrollbar-width: none;  
}    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#kycore {
position:relative;
background-color:black;
height:100vh;
width:100vw;
overflow-x:hidden;
overflow-y:scroll;
}
#kycore::-webkit-scrollbar {
display: none;
}
#kycore {
-ms-overflow-style: none; 
scrollbar-width: none;  
}
}