$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$supportbgcolor: rgb(19, 17, 17);
$containersonidlebgcolor: #e2e4e1;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#kycorelandingpage {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.kycorelandingpage-backgroundimagecontainer {
position:absolute;
height:100%;
width:100%;
transition: opacity 3s ease;
}
.kycorelandingpage-backgroundimagecontainer1 {
position:absolute;
opacity:1;
}
.kycorelandingpage-backgroundimagecontainer2 {
position:absolute;
width:280%;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer3 {
position:absolute;
width:190%;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer4 {
position:absolute;
width:190%;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer5 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer6 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimage {
position:relative;
height:100%;
width:100%;
}
.planet1 {
position:relative;
height:40vh;
width:100%;
}
#kycorelandingpage-core {
position:absolute;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-x:hidden;
overflow-y:scroll;
}
#kycorelandingpage-headercontainer{
position:relative;
height:100%;
padding:0;
}
//// navigation buttons container
#keyheader-navigationbuttonscontainer {
position:relative;
height:auto;
display:flex;
justify-content:center;
align-items:center;
transition:all 1s ease;
}
#keyheader-navigationbuttonscontainer-navigationgridcontainer {
position:relative;
border-radius:20px;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
transition:all 1s ease;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer {
position:relative;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
transition:all 1s ease;
padding:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer {
position:absolute;
//background-color: #1e1d1b;
//background-image: linear-gradient(315deg, #1e1d1b 0%, #cc9934 74%);
border-radius:20px;
height:40vh;
width:100%;
transition:1s ease;
padding:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-3dplanet {
position:absolute;
height:35vh;
width:80%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-3dplanet2 {
position:absolute;
height:30vh;
width:100%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud1 {
position:absolute;
height:8vh;
width:14vh;
top:10%;
left:3%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud2 {
position:absolute;
height:8vh;
width:14vh;
top:20%;
left:40%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud3 {
position:absolute;
height:8vh;
width:14vh;
left:70%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud4 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud5 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud6 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud7 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud8 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud9 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud10 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}

.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud11 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud12 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud13 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud14 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud15 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud16 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud17 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud18 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud19 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud20 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud21 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud22 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer1 {
position:relative;
height:40vh;
width:100%;
transition:all 1.2s ease;
left: -105%;
opacity:0;
}   
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer2 {
position:relative;
transition:all 1.2s ease;
top:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer3 {
position:relative;
transition:all 1.2s ease;
bottom:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer4 {
position:relative;
transition:all 1.2s ease;
right:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer5 {
position:relative;
transition:all 1.2s ease;
bottom:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer6 {
position:relative;
transition:all 1.2s ease;
bottom:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationheaderindication {
position:relative;
text-transform: uppercase;
font-family: $sub-font;
font-size: 8vh;
font-weight: 700;
color: #f5f5f5;
text-align:center;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:1vh;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-aboutviewbutton {
position:relative;
background-color:rgb(212, 211, 211);
border-radius:20px;
height:5vh;
width:15vh;
display:block;
margin-left:auto;
margin-right:auto;
box-shadow:0 1px 8px black;
text-transform: uppercase;
font-family: $sub-font;
font-size: auto;
font-weight: 900;
color:white;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
outline-style:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer {
position:relative;
background-color:white;
border-radius:20px;
height:70vh;
width:85%;
margin-left:auto;
margin-right:auto;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:-2%;
padding:35px 10px;
z-index:5;
transition: margin 5s ease 3s;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-overflowscrollbarcontainer {
position:relative;
height:100%;
width:100%;
overflow-x:hidden;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-overflowscrollbarcontainer::-webkit-scrollbar {
width: 5px;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-overflowscrollbarcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-overflowscrollbarcontainer::-webkit-scrollbar-thumb {
background: rgb(223, 223, 223); 
border-radius: 10px;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-overflowscrollbarcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer::after {
content:'';
position:absolute;
width:40px;
height:40px;
top:0%;
left:50%;
transform:translate(-50%,-50%) rotate(45deg);
background-color:#EEEEEE;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-closebuttonheaderindication  {
position:relative;
text-transform: uppercase;
font-family: $sub-font;
font-size: 2.5vh;
font-weight: 700;
color: tomato;
text-align:right;
right:4%;
text-shadow: 1px 1px 1px tomato,
1px 2px 1px rgb(211, 53, 25),
1px 3px 1px  rgb(211, 53, 25),
1px 4px 1px   rgb(211, 53, 25),
1px 5px 1px   rgb(211, 53, 25),
1px 6px 1px  rgb(211, 53, 25),
1px 7px 1px  rgb(211, 53, 25),
1px 8px 1px  rgb(211, 53, 25),
1px 9px 1px  rgb(211, 53, 25),
1px 10px 1px  rgb(211, 53, 25),
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:1vh;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-headerindication {
position:relative;
text-transform: uppercase;
font-family: sans-serif;
font-size: 3vh;
font-variant:small-caps;
color: #f1f1f1;
text-align:center;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
margin-top:5vh;
user-select:none;
}
////// xs launching scrolling effect
#kycorelandingpage-xslaunchingeffectscrollingcontainer {
position:relative;
border:1vh solid white;
background-color:black;
height:200%;
width:100%;
}
/// ky core lauching effect
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect {
position:absolute;
height:100%;
width:100%;
transition: opacity 5s ease, top 0s;
z-index:15;
top:-100%;
opacity:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect1 {
position:absolute;
background-color: white;
height:3%;
width:90%;
top:1%;
left:50%;
transform: translate(-50%, -50%);
padding:0;
z-index:15;
transition: opacity 20s ease;
opacity:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect2 {
position:absolute;
background-color: white;
height:100%;
width:5%;
padding:0;
z-index:15;
transition: opacity 20s ease;
opacity:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect3 {
position:absolute;
background-color: white;
height:100%;
width:5%;
right:0;
padding:0;
z-index:15;
transition: opacity 20s ease;
opacity:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect4 {
position:relative;
background-color: white;
height:3%;
width:90%;
top:97%;
left:50%;
padding:0;
z-index:15;
transform: translate(-50%, 0%);
transition: opacity 20s ease;
opacity:0;
}
.kycorelandingpage-coreloadingeffect-launchoffloadingeffect-backgroundimage {
position: relative;
height:100%;
width:100%;
}
/// social media and plaftorms navigation indicator
#kycorelandingpage-socialmediaandplatformsnavigationindicator {
position:absolute;
background-color:rgba(255,255,255,0.2);
border:0.1vh solid orange;
border-left:none;
height:80%;
width:10%;
top:50%;
left:10%;
transform:translate(-50%,-50%);
display:none;
}
#kycorelandingpage-socialmediaandplatformsnavigationindicator-positionindicatorcontainer {
position:absolute;
height:100%;
width:100%;
padding:0;
}
.kycorelandingpage-socialmediaandplatformsnavigationindicator-positionindicator {
position:relative;
border:0.1vh solid magenta;
height:16.7%;
width:100%;
}
#kycorelandingpage-socialmediaandplatformsnavigationindicator-locationindicator {
position:absolute;
border-top-left-radius:20px;
border-top-right-radius:20px;
height:8%;
width:90%;
top:50%;
left:50%;
transform:translate(-50%, -50%);
top:95.5%;
padding:0;
}
#kycorelandingpage-socialmediaandplatformsnavigationindicator-locationindicator-spaceship {
position:absolute;
height:100%;
width:100%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
#kycorelandingpage-socialmediaandplatformsnavigationindicator-locationindicator-tooltipnavigationlocationindicationcontainer {
position:absolute;
background-color:white;
height:10vh;
width:80vw;
top:-25%;
left:170%;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
padding:5px;
transition: opacity 3s ease;
opacity:1;
}
#kycorelandingpage-socialmediaandplatformsnavigationindicator-locationindicator-tooltipnavigationlocationindicationcontainer::after {
content:'';
position:absolute;
width:25px;
height:25px;
top:50%;
left:0%;
transform:translate(-50%,-50%) rotate(45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.kycorelandingpage-socialmediaandplatformsnavigationindicator-locationindicator-tooltipnavigationlocationindicationcontainer-closebuttonheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:0;
}
left:95%;
}
.kycorelandingpage-socialmediaandplatformsnavigationindicator-locationindicator-tooltipnavigationlocationindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
text-align:center;
top:-5%;
}
//// data display layout container
#kycorelandingpage-datasdisplaylayoutcontainer{
position:relative;
height:auto;
width:100%;
padding:0;   
}
#kycorelandingpage-datasdisplaygridcontainer {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.kycorelandingpage-naviogationdisplaycolcontainer {
position:relative;
height:100%;
width:100%;
}
//// core loading effect background 
#kycorelandingpage-coreloadingeffect {
position:absolute;
background-color:white;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
z-index:10;
box-shadow: 1px 2px 20px 10px gray inset;
overflow:hidden;
transition: top 0.5s ease, opacity 1s ease 5s;
top:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorcontainer {
position:absolute;
height:100%;
width:70%;
z-index:15;
left:32.5%;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphstatusindicatorcontainer {
position:relative;
height:100%;
padding:50px 20px;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer1 {
position:relative;
height:30%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer2 {
position:relative;
height:25%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer3 {
position:relative;
height:20%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer4 {
position:relative;
height:15%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer5 {
position:relative;
height:10%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
.kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 size:14px;
 weight:900;
}
text-align:center;
top:-4vh;
left:6vh;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphcontainer {
position:absolute;
height:95%;
width:100%;
padding:80px 15px 80px 50px;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1 {
position:relative;
border:0.2vh solid black;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:30%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-colorcontainer {
position:absolute;
background-color:tomato;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 4.7s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2 {
position:relative;
border:0.2vh solid black;
height:25%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-colorcontainer {
position:absolute;
background-color:yellowgreen;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 3.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3 {
position:relative;
background-color:greenyellow;
border:0.2vh solid black;
height:20%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-colorcontainer {
position:absolute;
background-color:greenyellow;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 2.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4 {
position:relative;
background-color: aqua;
border:0.2vh solid black;
height:15%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-colorcontainer {
position:absolute;
background-color: aqua;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 1.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5 {
position:relative;
background-color:aquamarine;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
border:0.2vh solid black;
height:10%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-colorcontainer {
position:absolute;
background-color: aqua;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 0.5s;
}
#kycorelandingpage-coreloadingeffect-background1 {
position:absolute;
background-color:white;
height:100%;
width:100%;
top:-100%;
box-shadow: 20px 20px 50px 50px gray inset;
transition: 1s ease 1.2s;
z-index:10;
}
#samp {
position:absolute;
z-index:11;
}
#kycorelandingpage-coreloadingeffect-background2 {
position:absolute;
background-color:white;
height:100%;
width:100%;
left:-100%;
box-shadow: 20px 20px 50px 40px gray inset;
transition: 1s ease 2s;
z-index:10;
}
#kycorelandingpage-coreloadingeffect-background3 {
position:absolute;
background-color:white;
height:100%;
width:100%;
bottom:-100%;
box-shadow: 20px 20px 50px 70px gray inset;
transition: 1s ease 3s;
z-index:10;
}
#kycorelandingpage-coreloadingeffect-background4 {
position:absolute;
background-color:white;
height:100%;
width:100%;
right:-100%;
box-shadow: 20px 20px 50px 100px gray inset;
transition: 1s ease 4s;
z-index:10;
}
//// data view
#kycorelandingpage-dataview {
position:absolute;
background-color:white;
border:1vh solid green;
height:90%;
width:85%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
box-shadow:0 1px 10px gray;
z-index:1;
display:none;
}
#kycorelandingpage-dataview-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
padding:0px 10px;
}
#kycorelandingpage-dataview-closebuttoncontainer-closebutton {
position:relative;
background-color:black;
border-radius:50%;
height:50%;
width:3%;
font: auto {
family: $robotic-font;
}
color:white;
outline-style:none;
}
#kycorelandingpage-dataview-dataviewcontainer {
position:relative;
border:1vh solid red;
height:90%;
width:100%;
padding:0;
}
.homedataviewgridcontainer {
position:relative;
border:1vh solid green;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
//// comunication container
#kycorelandingpage-communicationoptionscontainer {
position:relative;
border:1vh solid red;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
}
//// 3d modal
#kycorelandingpage-coreloadingeffect-3dmodal {
position:absolute;
background-color:white;
border-radius:30px;
height: 70%;
width:96%;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:50%;
left:50%;
transform: translate(-50%, -51%);
transition: top 1s ease;
top:200%;
z-index:5;
padding:10px 15px;
}
#kycorelandingpage-coreloadingeffect-3dmodal-closebuttonheaderindication {
position:relative;
background-color:tomato;
border-radius:50%;
font: auto {
 family: Geneva, sans-serif;
 size: 20px;
 weight:700;
} 
color: hsla(0,0%,0%,0);
perspective: 80px;
display: inline-block;
text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
outline: none;
padding:2px 10px;
left:93%;
}
.kycorelandingpage-coreloadingeffect-3dmodal-gridcontentcontainer {
position:relative;
background-color:white;
border-radius:17px;
height:auto;
width:100%;
padding:5px 10px;
margin-top:3.5vh;
margin-left:auto;
margin-right:auto;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
}
.kycorelandingpage-coreloadingeffect-3dmodal-colcontentcontainer {
position:relative;
border-radius:17px;
height:auto;
width:100%;
padding:5px 10px;
}
.kycorelandingpage-coreloadingeffect-3dmodal-colcontentcontainer-icon {
position:relative;
height:7vh;
width:115%;
}
.kycorelandingpage-coreloadingeffect-3dmodal-contentcontainer {
position:relative;
background-color:#f1f1f1;
border-radius:17px;
height:auto;
width:100%;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
padding:5px 10px;
margin-top:3.5vh;
}
.kycorelandingpage-coreloadingeffect-3dmodal-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:700;
 size: 3vh;
}
color: hsla(0,0%,0%,0);
perspective: 80px;
display: inline-block;
text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
outline: none;
top:1.5vh;
}
.kycorelandingpage-coreloadingeffect-3dmodal-subheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:700;
 size: 3vh;
}
color:#f1f1f1;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
outline: none;
top:1.5vh;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#kycorelandingpage {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
padding:0;
overflow:hidden;
}
.kycorelandingpage-backgroundimagecontainer {
position:absolute;
height:100%;
width:100%;
transition: opacity 3s ease;
}
.kycorelandingpage-backgroundimagecontainer1 {
position:absolute;
opacity:1;
}
.kycorelandingpage-backgroundimagecontainer2 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer3 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer4 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer5 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimagecontainer6 {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0;
}
.kycorelandingpage-backgroundimage {
position:relative;
height:100%;
width:100%;
}
.planet1 {
position:relative;
height:40vh;
width:100%;
}
#kycorelandingpage-core {
position:absolute;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
padding:0;
}
#kycorelandingpage-headercontainer{
position:relative;
height:15%;
padding:0;
}
//// navigation buttons container
#keyheader-navigationbuttonscontainer {
position:relative;
height:15%;
display:flex;
justify-content:center;
align-items:center;
}
#keyheader-navigationbuttonscontainer-navigationgridcontainer {
position:relative;
background-color:transparent;
border:0.1vh solid white;
border-radius:20px;
height:50%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-left:auto;
margin-right:auto;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer {
position:absolute;
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-3dplanet {
position:absolute;
height:10vh;    
width:60%;
top:50%;
left:50%;
transform: translate(-50%, -26%);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-3dplanet2 {
position:absolute;
height:10vh;
width:100%;
top:50%;
left:50%;
transform: translate(-50%, -26%);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud1 {
position:absolute;
height:6vh;
width:10vh;
top:0%;
left:-30%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud2 {
position:absolute;
height:6vh;
width:10vh;
top:-40%;
left:80%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud3 {
position:absolute;
height:6vh;
width:10vh;
top:55%;
left:-75%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud4 {
position:absolute;
height:8vh;
width:14vh;
top:55%;
left:-40%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud5 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
z-index:1;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud6 {
position:absolute;
height:6vh;
width:10vh;
top:-40%;
left:90%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud7 {
position:absolute;
height:6vh;
width:10vh;
top:-15%;
left:80%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud8 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
z-index:1;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud9 {
position:absolute;
height:6vh;
width:10vh;
top:-40%;
left:130%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud10 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:80%;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud11 {
position:absolute;
height:6vh;
width:10vh;
top:90%;
left:70%;
z-index:1;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud12 {
position:absolute;
height:6vh;
width:10vh;
top:-40%;
left:160%;
z-index:1;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud13 {
position:absolute;
height:6vh;
width:10vh;
z-index:1;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud14 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud15 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud16 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud17 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud18 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud19 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud20 {
position:absolute;
height:8vh;
width:14vh;
top:-15%;
left:10%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud21 {
position:absolute;
height:8vh;
width:18vh;
top:90%;
left:66%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-cloud22 {
position:absolute;
height:8vh;
width:14vh;
top:70%;
left:10%;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationheaderindication {
position:relative;
text-transform: uppercase;
font-family: $sub-font;
font-size: 2vh;
font-weight: 700;
color: #f1f1f1;
text-align:center;
letter-spacing:1vh;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:-35%;
z-index:1;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-aboutviewbutton {
position:relative;
background-color:rgb(212, 211, 211);
border-radius:20px;
height:5vh;
width:15vh;
display:block;
margin-left:auto;
margin-right:auto;
box-shadow:0 1px 8px black;
text-transform: uppercase;
font-family: $sub-font;
font-size: auto;
font-weight: 900;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
outline-style:none;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer {
position:absolute;
background-color:white;
border-radius:20px;
height:250%;
width:110%;
transform: translate(-5%, 80%);
z-index:1;
box-shadow:0 1px 8px gray;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer::after {
content:'';
position:absolute;
width:40px;
height:40px;
left:50%;
transform:translate(-50%,-50%) rotate(45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-closebuttonheaderindication  {
position:relative;
font: auto {
family: $sub-font;
weight:900;
}
text-align:center;
top:50%;
left:50%;
transform: translate(-50%, -50%);
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-headerindication {
position:absolute;
font: auto {
family: $sub-font;
weight:900;
}
text-align:center;
top:50%; 
transform: translate(-50%, -50%);
}
#kycorelandingpage-datasdisplaylayoutcontainer{
position:relative;
height:75%;
width:100%;
padding:0;   
}
#kycorelandingpage-datasdisplaygridcontainer {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.kycorelandingpage-naviogationdisplaycolcontainer {
position:relative;
height:100%;
width:100%;
}
//// core loading effect background 
#kycorelandingpage-coreloadingeffect {
position:absolute;
background-color:white;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
z-index:1;
box-shadow: 20px 20px 50px 100px gray inset;
overflow:hidden;
transition: top 0.5s ease, opacity 1s ease 5s;
top:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorcontainer {
position:absolute;
height:100%;
width:20%;
z-index:10;
left:80%;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphstatusindicatorcontainer {
position:relative;
height:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer1 {
position:relative;
height:30%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer2 {
position:relative;
height:25%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer3 {
position:relative;
height:20%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer4 {
position:relative;
height:15%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer5 {
position:relative;
height:10%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
top:-1.3vh;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphcontainer {
position:absolute;
height:100%;
width:100%;
padding:15px 30px;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1 {
position:relative;
border:0.2vh solid black;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:30%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-colorcontainer {
position:absolute;
background-color:tomato;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 4.7s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2 {
position:relative;
border:0.2vh solid black;
height:25%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-colorcontainer {
position:absolute;
background-color:yellowgreen;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 3.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3 {
position:relative;
background-color:greenyellow;
border:0.2vh solid black;
height:20%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-colorcontainer {
position:absolute;
background-color:greenyellow;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 2.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4 {
position:relative;
background-color: aqua;
border:0.2vh solid black;
height:15%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-colorcontainer {
position:absolute;
background-color: aqua;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 1.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5 {
position:relative;
background-color:aquamarine;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
border:0.2vh solid black;
height:10%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-colorcontainer {
position:absolute;
background-color: aqua;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 0.5s;
}
#kycorelandingpage-coreloadingeffect-background1 {
position:absolute;
background-color:white;
height:100%;
width:100%;
top:-100%;
box-shadow: 20px 20px 50px 50px gray inset;
transition: 1s ease 1s;
}
#kycorelandingpage-coreloadingeffect-background2 {
position:absolute;
background-color:white;
height:100%;
width:100%;
left:-100%;
box-shadow: 20px 20px 50px 40px gray inset;
transition: 1s ease 2s;
}
#kycorelandingpage-coreloadingeffect-background3 {
position:absolute;
background-color:white;
height:100%;
width:100%;
bottom:-100%;
box-shadow: 20px 20px 50px 70px gray inset;
transition: 1s ease 3s;
}
#kycorelandingpage-coreloadingeffect-background4 {
position:absolute;
background-color:white;
height:100%;
width:100%;
right:-100%;
box-shadow: 20px 20px 50px 100px gray inset;
transition: 1s ease 4s;
}
//// data view
#kycorelandingpage-dataview {
position:absolute;
background-color:white;
height:90%;
width:85%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
box-shadow:0 1px 10px gray;
z-index:1;
display:none;
}
#kycorelandingpage-dataview-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
padding:0px 10px;
}
#kycorelandingpage-dataview-closebuttoncontainer-closebutton {
position:relative;
background-color:black;
border-radius:50%;
height:50%;
width:3%;
font: auto {
family: $robotic-font;
}
color:white;
outline-style:none;
}
#kycorelandingpage-dataview-dataviewcontainer {
position:realtive;
border:1vh solid red;
height:90%;
width:100%;
padding:0;
}
.homedataviewgridcontainer {
position:relative;
border:1vh solid green;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
//// comunication container
#kycorelandingpage-communicationoptionscontainer {
position:relative;
background-color:transparent;
border-radius:20px;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
}