$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$blurblack:  #111111;
$containersonidlebgcolor: #e2e4e1;

#kycore {
 position:relative;
 background-color:black;
 height:100vh;
 width:100vw;
 overflow-x:hidden;
 overflow-y:scroll;
}
#kycore::-webkit-scrollbar {
 display: none;
}
#kycore {
 -ms-overflow-style: none; 
 scrollbar-width: none;  
}