$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$supportbgcolor: rgb(19, 17, 17);
$containersonidlebgcolor: #e2e4e1;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#kycorelandingpage {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
#kycorelandingpage-core {
position:absolute;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow-y:scroll;
}
#kycorelandingpage-headercontainer{
position:relative;
height:100%;
padding:0;
}
//// navigation buttons container
#keyheader-navigationbuttonscontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
#keyheader-navigationbuttonscontainer-navigationgridcontainer {
position:relative;
border-radius:20px;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow:hidden;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer {
position:relative;
height:16%;
display:flex;
justify-content:center;
align-items:center;
padding:10px;
overflow: hidden;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer {
position:absolute;
background-color: #1e1d1b;
background-image: linear-gradient(315deg, #1e1d1b 0%, #cc9934 74%);
border-radius:20px;
height:auto;
width:80%;
display:flex;
justify-content:center;
align-items:center;
transition:1s ease;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer1 {
position:relative;
transition:all 1.2s ease;
left:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer2 {
position:relative;
transition:all 1.2s ease;
top:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer3 {
position:relative;
transition:all 1.2s ease;
bottom:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer4 {
position:relative;
transition:all 1.2s ease;
right:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer5 {
position:relative;
transition:all 1.2s ease;
bottom:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer6 {
position:relative;
transition:all 1.2s ease;
bottom:-105%;
opacity:0;
}
.keyheader-navigationbuttonscontainer-navigationheaderindication {
position:relative;
font: auto {
family: $main-font;
}
color:white;
text-align:center;
user-select:none;
top:1vh;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer {
position:absolute;
background-color:white;
border-radius:20px;
height:250%;
width:110%;
transform: translate(0%, 80%);
z-index:1;
box-shadow:0 1px 8px gray;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer::after {
content:'';
position:absolute;
width:40px;
height:40px;
left:50%;
transform:translate(-50%,-50%) rotate(45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
////// xs launching scrolling effect
#kycorelandingpage-xslaunchingeffectscrollingcontainer {
position:relative;
border:1vh solid white;
background-color:black;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect1 {
position:absolute;
background-color: white;
height:6%;
width:80%;
top:3%;
left:50%;
transform: translate(-50%, -50%);
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect2 {
position:absolute;
background-color: white;
height:100%;
width:10%;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect3 {
position:absolute;
background-color: white;
height:100%;
width:10%;
right:0;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchoffloadingeffect4 {
position:relative;
background-color: white;
height:6%;
width:80%;
top:94%;
left:50%;
padding:0;
transform: translate(-50%, 0%);
}
.kycorelandingpage-coreloadingeffect-launchoffloadingeffect-backgroundimage {
position: relative;
height:100%;
width:100%;
}
//// data display layout container
#kycorelandingpage-datasdisplaylayoutcontainer{
position:relative;
height:auto;
width:100%;
padding:0;   
}
#kycorelandingpage-datasdisplaygridcontainer {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.kycorelandingpage-naviogationdisplaycolcontainer {
position:relative;
height:100%;
width:100%;
}
//// core loading effect background 
#kycorelandingpage-coreloadingeffect {
position:absolute;
background-color:white;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
z-index:10;
box-shadow: 1px 2px 20px 10px gray inset;
overflow:hidden;
transition: top 0.5s ease, opacity 1s ease 5s;
top:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorcontainer {
position:absolute;
height:100%;
width:70%;
z-index:15;
left:32.5%;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphstatusindicatorcontainer {
position:relative;
height:100%;
padding:50px 20px;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer1 {
position:relative;
height:30%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer2 {
position:relative;
height:25%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer3 {
position:relative;
height:20%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer4 {
position:relative;
height:15%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer5 {
position:relative;
height:10%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
}
.kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 size:14px;
 weight:900;
}
text-align:center;
top:-4vh;
left:6vh;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphcontainer {
position:absolute;
height:95%;
width:100%;
padding:80px 15px 80px 50px;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1 {
position:relative;
border:0.2vh solid black;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:30%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-colorcontainer {
position:absolute;
background-color:tomato;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 4.7s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2 {
position:relative;
border:0.2vh solid black;
height:25%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-colorcontainer {
position:absolute;
background-color:yellowgreen;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 3.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3 {
position:relative;
background-color:greenyellow;
border:0.2vh solid black;
height:20%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-colorcontainer {
position:absolute;
background-color:greenyellow;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 2.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4 {
position:relative;
background-color: aqua;
border:0.2vh solid black;
height:15%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-colorcontainer {
position:absolute;
background-color: aqua;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 1.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5 {
position:relative;
background-color:aquamarine;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
border:0.2vh solid black;
height:10%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-colorcontainer {
position:absolute;
background-color: aqua;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 0.5s;
}
#kycorelandingpage-coreloadingeffect-background1 {
position:absolute;
background-color:white;
height:100%;
width:100%;
top:-100%;
box-shadow: 20px 20px 50px 50px gray inset;
transition: 1s ease 1.2s;
z-index:10;
}
#samp {
position:absolute;
z-index:11;
}
#kycorelandingpage-coreloadingeffect-background2 {
position:absolute;
background-color:white;
height:100%;
width:100%;
left:-100%;
box-shadow: 20px 20px 50px 40px gray inset;
transition: 1s ease 2s;
z-index:10;
}
#kycorelandingpage-coreloadingeffect-background3 {
position:absolute;
background-color:white;
height:100%;
width:100%;
bottom:-100%;
box-shadow: 20px 20px 50px 70px gray inset;
transition: 1s ease 3s;
z-index:10;
}
#kycorelandingpage-coreloadingeffect-background4 {
position:absolute;
background-color:white;
height:100%;
width:100%;
right:-100%;
box-shadow: 20px 20px 50px 100px gray inset;
transition: 1s ease 4s;
z-index:10;
}
//// data view
#kycorelandingpage-dataview {
position:absolute;
background-color:white;
border:1vh solid green;
height:90%;
width:85%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
box-shadow:0 1px 10px gray;
z-index:1;
display:none;
}
#kycorelandingpage-dataview-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
padding:0px 10px;
}
#kycorelandingpage-dataview-closebuttoncontainer-closebutton {
position:relative;
background-color:black;
border-radius:50%;
height:50%;
width:3%;
font: auto {
family: $robotic-font;
}
color:white;
outline-style:none;
}
#kycorelandingpage-dataview-dataviewcontainer {
position:realtive;
border:1vh solid red;
height:90%;
width:100%;
padding:0;
}
.homedataviewgridcontainer {
position:relative;
border:1vh solid green;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
//// comunication container
#kycorelandingpage-communicationoptionscontainer {
position:relative;
border:1vh solid red;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#kycorelandingpage {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
overflow:hidden;
}
#kycorelandingpage-core {
position:absolute;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
#kycorelandingpage-headercontainer{
position:relative;
height:15%;
padding:0;
}
//// navigation buttons container
#keyheader-navigationbuttonscontainer {
position:relative;
height:15%;
display:flex;
justify-content:center;
align-items:center;
}
#keyheader-navigationbuttonscontainer-navigationgridcontainer {
position:relative;
background-color:$supportbgcolor;
border:0.1vh solid white;
border-radius:20px;
height:50%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationpositioningcontainer {
position:absolute;
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
}
.keyheader-navigationbuttonscontainer-navigationheaderindication {
position:relative;
font: auto {
family: $main-font;
}
color:white;
text-align:center;
user-select:none;
top:0.5vh;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer {
position:absolute;
background-color:white;
border-radius:20px;
height:250%;
width:110%;
transform: translate(-5%, 80%);
z-index:1;
box-shadow:0 1px 8px gray;
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer::after {
content:'';
position:absolute;
width:40px;
height:40px;
left:50%;
transform:translate(-50%,-50%) rotate(45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-closebuttonheaderindication  {
position:relative;
font: auto {
family: $sub-font;
weight:900;
}
text-align:center;
top:50%;
left:50%;
transform: translate(-50%, -50%);
display:none;
}
.keyheader-navigationbuttonscontainer-navigationcolcontainer-navigationtooltipcontainer-headerindication {
position:absolute;
font: auto {
family: $sub-font;
weight:900;
}
text-align:center;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}
#kycorelandingpage-datasdisplaylayoutcontainer{
position:relative;
height:75%;
width:100%;
padding:0;   
}
#kycorelandingpage-datasdisplaygridcontainer {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.kycorelandingpage-naviogationdisplaycolcontainer {
position:relative;
height:100%;
width:100%;
}
//// core loading effect background 
#kycorelandingpage-coreloadingeffect {
position:absolute;
background-color:white;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
z-index:1;
box-shadow: 20px 20px 50px 100px gray inset;
overflow:hidden;
transition: top 0.5s ease, opacity 1s ease 5s;
top:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorcontainer {
position:absolute;
height:100%;
width:20%;
z-index:10;
left:80%;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphstatusindicatorcontainer {
position:relative;
height:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer1 {
position:relative;
height:30%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer2 {
position:relative;
height:25%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer3 {
position:relative;
height:20%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer4 {
position:relative;
height:15%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer5 {
position:relative;
height:10%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-statusindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
top:-1.3vh;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:0;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphcontainer {
position:absolute;
height:100%;
width:100%;
padding:15px 30px;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1 {
position:relative;
border:0.2vh solid black;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:30%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-colorcontainer {
position:absolute;
background-color:tomato;
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer1-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-top-left-radius:45px;
border-top-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 4.7s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2 {
position:relative;
border:0.2vh solid black;
height:25%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-colorcontainer {
position:absolute;
background-color:yellowgreen;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer2-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 3.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3 {
position:relative;
background-color:greenyellow;
border:0.2vh solid black;
height:20%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-colorcontainer {
position:absolute;
background-color:greenyellow;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer3-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 2.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4 {
position:relative;
background-color: aqua;
border:0.2vh solid black;
height:15%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-colorcontainer {
position:absolute;
background-color: aqua;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer4-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
height:100%;
width:100%;
transition: all 1s ease 1.5s;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5 {
position:relative;
background-color:aquamarine;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
border:0.2vh solid black;
height:10%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-colorcontainer {
position:absolute;
background-color: aqua;
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
}
#kycorelandingpage-coreloadingeffect-launchingoffbargraphindicatorlayoutcontainer-bargraphindicatorlayoutcontainer5-transitioncontainer {
position:absolute;
background-color: rgba(1, 1, 1, 0.6);
border-bottom-left-radius:45px;
border-bottom-right-radius:45px;
height:100%;
width:100%;
transition: all 1s ease 0.5s;
}
#kycorelandingpage-coreloadingeffect-background1 {
position:absolute;
background-color:white;
height:100%;
width:100%;
top:-100%;
box-shadow: 20px 20px 50px 50px gray inset;
transition: 1s ease 1s;
}
#kycorelandingpage-coreloadingeffect-background2 {
position:absolute;
background-color:white;
height:100%;
width:100%;
left:-100%;
box-shadow: 20px 20px 50px 40px gray inset;
transition: 1s ease 2s;
}
#kycorelandingpage-coreloadingeffect-background3 {
position:absolute;
background-color:white;
height:100%;
width:100%;
bottom:-100%;
box-shadow: 20px 20px 50px 70px gray inset;
transition: 1s ease 3s;
}
#kycorelandingpage-coreloadingeffect-background4 {
position:absolute;
background-color:white;
height:100%;
width:100%;
right:-100%;
box-shadow: 20px 20px 50px 100px gray inset;
transition: 1s ease 4s;
}
//// data view
#kycorelandingpage-dataview {
position:absolute;
background-color:white;
height:90%;
width:85%;
top:50%;
left:50%;
transform: translate(-50%, -50%);
box-shadow:0 1px 10px gray;
z-index:1;
display:none;
}
#kycorelandingpage-dataview-closebuttoncontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
align-items:center;
padding:0px 10px;
}
#kycorelandingpage-dataview-closebuttoncontainer-closebutton {
position:relative;
background-color:black;
border-radius:50%;
height:50%;
width:3%;
font: auto {
family: $robotic-font;
}
color:white;
outline-style:none;
}
#kycorelandingpage-dataview-dataviewcontainer {
position:realtive;
border:1vh solid red;
height:90%;
width:100%;
padding:0;
}
.homedataviewgridcontainer {
position:relative;
border:1vh solid green;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
}
//// comunication container
#kycorelandingpage-communicationoptionscontainer {
position:relative;
height:10%;
width:100%;
display:flex;
justify-content:flex-end;
}
}