$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$supportbgcolor: rgb(19, 17, 17);
$containersonidlebgcolor: #e2e4e1;


#facebookprofilecomponent {
position:relative;
background-color: rgba(1,1,1, 0.8);
border-radius:100px;
height:95%;
width:100%;
margin-left:auto;
margin-right:auto;
padding:20px 25px;
box-shadow: 0px 0px 5px 4px gray;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
left:0.5vh;
overflow:hidden;
z-index:1;
transition:1s ease;
left:-105%;
}
.facebookprofilecomponent-contentcontainer {
position:relative;
height:55%;
overflow-x:hidden;
overflow-y:scroll;
padding:10px;
}
/* width */
.facebookprofilecomponent-contentcontainer::-webkit-scrollbar {
width: 10px;
}
/* Track */
.facebookprofilecomponent-contentcontainer::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
/* Handle */
.facebookprofilecomponent-contentcontainer::-webkit-scrollbar-thumb {
background:dodgerblue; 
border-radius: 10px;
}
/* Handle on hover */
.facebookprofilecomponent-contentcontainer::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}
.facebookprofilecomponent-contentcontainer-facebookprofilepicturecontainer-colcontainer {
position:relative;
height:45%;
padding:0;
}
.facebookprofilecomponent-contentcontainer-facebookdetailscontainer {
position:relative;
height:45%;
display:flex;
flex-direction:column;
justify-content:center;
padding:10px 15px;   
}
.facebookprofilecomponent-contentcontainer-facebookprofilepicturelayoutcontainer {
position:relative;
height:100%;
width:100%;
}
#facebookprofilecomponent-contentcontainer-facebookprofilepicturelayoutcontainer-imagecontainer {
position:absolute;
height:100%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
#facebookprofilecomponent-contentcontainer-facebookprofilepicture {
position:relative;
border-radius:50%;
height:70%;
width:100%;
box-shadow:0 1px 8px gray; 
}
#facebookprofilecomponent-contentcontainer-facebookprofilepicturelayoutcontainer-imagemodalcontainer {
position:absolute;
background-color:white;
border-radius:45px;
height:90vh;
width:90vw;
top:50%;
left:50%;
transform: translate(-2%, -30%);
box-shadow:0 1px 8px gray; 
z-index:1;
display:none;
}
.facebookprofilecomponent-contentcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 size:17px;
}
color:#f1f1f1;
letter-spacing:0.5vh;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}