$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$supportbgcolor: rgb(19, 17, 17);
$containersonidlebgcolor: #e2e4e1;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
//// social media and platforms account data container 
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer {
position:relative;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
transition: top 1s ease;
top:80%;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer {
position:relative;
background-color: transparent;
border-bottom-right-radius:100px;
border-bottom-left-radius:100px;
height:60%;
box-shadow: 0px 0px 5px 4px white;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
padding:30px;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer {
position:relative;
height:40%;
padding:0;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagecontainer {
position:absolute;
background-color:transparent;
border-top-right-radius:100px;
border-top-left-radius:100px;
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
box-shadow: 0px 0px 5px 4px white;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-astronautimage {
position:relative;
height:100%;
width:70%;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer {
position:absolute;
background-color:#EEEEEE;
border-radius:20px;
box-shadow:0 1px 8px rgba(151, 142, 142, 0.5);
height:200%;
width:200%;
z-index:2;
transform:translate(45%, -25%);
display:none;
padding:20px 50px;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer::after {
content:'';
position:absolute;
height:50px;
width:50px;
left:-5.5%;
top:50%;
transform:translate(50%,-50%) rotate(-45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer-headerindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiper {
position:relative;
background-color:transparent;
border-radius:50%;
height:100%;
width:100%;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide-topicthumbnail {
position:relative;
background-color:$supportbgcolor;
height:100%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide-topicthumbnail-headerindication {
position:relative;
font: auto {
family: $main-font;
}
color:white;
text-align:center;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide {
position:relative;
height:100%;
width:100%;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide-image {
position:relative;
height:100%;
width:100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
//// social media and platforms account data container 
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer {
position:absolute;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
padding:15px 20px;
transition: all 1s ease;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer {
position:relative;
background-color: transparent;
border-bottom-right-radius:100px;
border-bottom-left-radius:100px;
height:60%;
box-shadow: 0px 0px 5px 4px white;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
padding:30px;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer {
position:relative;
height:40%;
padding:0;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagecontainer {
position:absolute;
background-color:transparent;
border-top-right-radius:100px;
border-top-left-radius:100px;
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
box-shadow: 0px 0px 5px 4px white;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-astronautimage {
position:relative;
height:100%;
width:75%;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer {
position:absolute;
background-color:#EEEEEE;
border-radius:20px;
box-shadow:0 1px 8px rgba(151, 142, 142, 0.5);
height:200%;
width:200%;
transform:translate(55%, 0%);
padding:20px 50px;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
z-index:2;
display:none;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer::after {
content:'';
position:absolute;
height:50px;
width:50px;
left:-5.5%;
top:50%;
transform:translate(50%,-50%) rotate(-45deg);
background-color:#EEEEEE;
box-shadow:0 1px 8px rgba(0,0,0,0.5);
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer-closebuttonheaderindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
user-select:none;
left:100%;
display:none;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-astronautdatacontainer-astronautimagetooltipcontainer-headerindication {
position:relative;
font: auto {
  family: $sub-font;
  size:22px;
}
color:#f1f1f1;
letter-spacing:0.5vh;
text-transform:uppercase;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
left:0.5vh;
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiper {
position:relative;
background-color:transparent;
border-radius:50%;
height:100%;
width:100%;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
#homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide-topicthumbnail {
position:relative;
background-color:transparent;
height:100%;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide-topicthumbnail-headerindication {
position:relative;
font: auto {
  family: $main-font;
}
color:white;
text-align:center;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide {
position:relative;
height:100%;
width:100%;
}
.homenavigationsnippetcomponent-socialmedaiandplatformaccountsgridcontainer-colcontainer-swiperslide-image {
position:relative;
height:100%;
width:100%;
}
}
