$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#kyheader {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-left:auto;
margin-right:auto;
}
/// header container 
#kyheader-headercontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:30px 0px;
}
//#f5f5f5
// #919191
.kyheader-headerinication {
position:relative;
text-transform: uppercase;
font-family: $sub-font;
font-size: 3vh;
font-weight: 700;
color: #f5f5f5;
text-align:center;
letter-spacing:1vh;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:1vh;
}
.kyheader-subheaderinication {
position:relative;
text-transform: uppercase;
font-family: $sub-font;
font-size: 6vh;
font-weight: 700;
color: #f5f5f5;
text-align:center;
letter-spacing:1vh;
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
top:1vh;
animation: shakekyheader 1s infinite;
}
@keyframes shakekyheader {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/// search bar container 
#kyheader-searchbarcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
padding:0;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer {
position:relative;
height:100%;
height:75%;
width:100%;
margin-left:auto;
margin-right:auto;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbarcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
padding:0;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbar-searchbarinputfield {
position:relative;
border:none;
border-radius:20px;
height:60%;
width:100%;
font: auto {
    family: $sub-font;
}
text-align:center;
outline-style:none;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbuttoncontainer{
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbutton {
position:relative;
border-radius:20px;
height:50%;
width:60%;
}
        
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#kyheader {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-left:auto;
margin-right:auto;
}
/// header container 
#kyheader-headercontainer {
position:relative;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:30px 0px;
}
.kyheader-headerinication {
position:relative;
font: auto {
    family: $sub-font;
}
color:white;
text-align:center;
}
.kyheader-subheaderinication {
position:relative;
font: auto {
    family: $sub-font;
}
color:white;
text-align:center;
}
/// search bar container 
#kyheader-searchbarcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
padding:0;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer {
position:relative;
height:100%;
height:75%;
width:100%;
margin-left:auto;
margin-right:auto;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbarcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
padding:0;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbar-searchbarinputfield {
position:relative;
border:none;
border-radius:20px;
height:60%;
width:100%;
font: auto {
    family: $sub-font;
}
text-align:center;
outline-style:none;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbuttoncontainer{
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
#kyheader-searchbarcontainer-searchbarlayoutgridcontainer-searchbutton {
position:relative;
border-radius:20px;
height:50%;
width:60%
}
}