$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #2b2b31;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
#kylandingpagecommunication {
position:relative;
border:1vh solid red;
height:100%;
width:35%;
}
//// chat options container
#kylandingpagecommunication-chatoptionslayoutcontainer {
position:relative;
height:100%;
width:100%;
padding:0;
}
#kylandingpagecommunication-chatoptionslayoutcontainer-gridcontainer {
position:relative;
height:100%;
width:100%;
justify-content:space-evenly;
margin-left:auto;
margin-right:auto;
}
.kylandingpagecommunication-chatoptionslayoutcontainer-colcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
.kylandingpagecommunication-chatoptionslayoutcontainer-colcontainer-headerindication {
position:relative;
background-color:white;
border-radius:5px;
font: auto {
family: $sub-font;
weight:900;
}
color:black;
padding:10px 50px;
top:1.5vh;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
#kylandingpagecommunication {
position:relative;
height:100%;
width:35%;
}
//// chat options container
#kylandingpagecommunication-chatoptionslayoutcontainer {
position:relative;
height:100%;
width:100%;
padding:0;
}
#kylandingpagecommunication-chatoptionslayoutcontainer-gridcontainer {
position:relative;
height:100%;
width:100%;
justify-content:space-evenly;
margin-left:auto;
margin-right:auto;
}
.kylandingpagecommunication-chatoptionslayoutcontainer-colcontainer {
position:relative;
height:100%;
display:flex;
justify-content:center;
align-items:center;
}
.kylandingpagecommunication-chatoptionslayoutcontainer-colcontainer-headerindication {
position:relative;
background-color:transparent;
border-radius:5px;
font: auto {
    family: $sub-font;
    weight:900;
}
color:#f5f5f5;
padding:10px 50px;
top:1.5vh;
box-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
text-shadow: 1px 1px 1px #919191,
1px 2px 1px #919191,
1px 3px 1px #919191,
1px 4px 1px #919191,
1px 5px 1px #919191,
1px 6px 1px #919191,
1px 7px 1px #919191,
1px 8px 1px #919191,
1px 9px 1px #919191,
1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
user-select:none;
}
}